* {
margin: 0;
padding: 0;
box-sizing:border-box;
} 

body {
      font-family: Arial, sans-serif;
      color: #cfebed;
      line-height: 1.6;
   }
   /* En tête de ma page */

   header {
      color: #ffffff;
      padding: 20px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      background-color:rgba(0, 0, 0, 0.85);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      gap: 25px;
      
   }

header h2 {
      font-size:2.5rem;
      margin-bottom: 0.5rem;
   }
   .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
   }

   h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
      color: black;
   }

nav {
      padding: 1rem;
      text-align: center;
      margin: 20px;
      font-size: 30px;
   }
nav a {
      color: #ffffff;
      margin: 0 1.5rem;
      text-decoration: none;
      font-weight: bold;
   }  

   .header-container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10rem;
   }

   header .logo  {
      height: 80px;
      width: auto;
      font-size: 3rem;
      font-weight: bold;
      border-radius: 50px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
      color: #ffffff;
      text-decoration: none;
      position: relative;
      margin-top: 0.5rem;
   }
   header p{
      font-size: 3rem;
      margin-top: 0.5rem;
      color: #ffffff;
   }
   .main-nav{
      display: flex;
      gap: 2rem;
   }
   .main-nav ul{
      display: flex;
      gap: 2rem;
      list-style: none;
   }
   .fin-menu{
      display: flex;
      gap: 3rem;
      align-items: center;
   }
   .fin-menu input[type="text"]{
      padding: 0.5rem;
      font-size: 1.5rem;
      border: none;
      border-radius: 5px
   }
  
   .header-container .recherche-prod input[type="text"]{
      padding: 0.5rem;
      font-size: 1rem;
      border: none;
      border-radius: 5px;
   
   }
   
main{
   padding: 2rem 0;
   background-color: #ffffffbe;
}
   .main-nav a {
         color: #ffffff;
         text-decoration: none;
         font-weight: bold;
          font-size: 1.8rem;
          padding: 0.5rem 1rem;
          border-radius: 5px;
          transition: background-color 0.3s;
   }
.main-nav a:hover {
   background-color: rgb(255, 255,255, 0.3);
}
header .fin-menu i{
   color: #ffffff;
   font-size: 35px;
   padding: 20px;
   display: flex;
}


/*BIENVENUE SUR NOTRE SITE*/



.hero {
   background-image: url('images/arrière\ plan\ principal.jpg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   min-height: 600px;
   position: relative;
   display: flex;
}
.hero-overplay {
   background-color: rgba(44, 62, 80, 0.85);
   min-height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}


.hero-content {
   position: relative;
    z-index: 2;
    max-width: 600px;
    padding: 3rem;
    color: white;
}
.hero-content h1{
   font-size: 5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    text-shadow: 3px 3px 6px rgba(0,0,0,0.7);
    white-space: nowrap
}

.hero-content p{
   font-size: 2.5rem;
   line-height: 1.8;
   margin-bottom: 2.5rem;
   text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
   animation: fadeInLeft 1s ease 0.3s both;
}
.hero-btn{
   display: inline-block;
    background-color: #e74c3c;
    color: white;
    padding: 1.2rem 3rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 50px;
    transition: all 0.3s;
    box-shadow: 0 4px 15px rgba(231, 76, 60, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-btn:hover{
   background-color: #c0392b;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 25px rgba(231, 76, 60, 0.7);
}
.about{
   padding: 1rem 0;
   background-color: #ecf0f1;
}
.about H2{
   font-size: 5rem;
   color: #333;
}
.about p{
   text-align: center;
   font-size: 2.5rem; 
   max-width: 800px;
   margin: 0 auto;
   color: #555;
   line-height: 1.5;
}


/* Categories page d'acceuil*/
.categories {
   justify-content: center;
   background-color: #040e1f;
   margin-bottom: 50px;

}
.category-grid{
   padding: 10px;
   grid-template-columns: repeat(3, 1fr);
   gap: 2rem;
   margin-top: 5rem;
   display: grid;
   gap: 100px;
}
.category-item{
   background-color: white;
   border: 2px solid #ddd;
   padding: 2rem;
   border-radius: 15px;
   text-align: center;
   color: #333;
   transition: all 0.3s;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.category-item:hover{
   transform: translate(-10px);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
   border-color: #e74c3c;
}
.category-icon{
   font-size: 5.5rem;
   margin-bottom: 1rem;
}
.container h2{
   font-size: 2.5rem;
}
.category-item h3{
   color: #2c3e50;
   font-size: 2rem;
   margin-bottom: 0.5rem;
}
.category-item p{
   color: #666;
   font-size: 2.5rem;
}

/* Pourquoiu nous choiir */
.why-us{
   padding: 4rem 0;
   background-color: #2c3e50;
   color: white;
}
.why-us h2{
   color: white;

}
.advantages-grid{
   display: grid ;
   grid-template-columns: repeat(2, 1fr);
   gap: 2rem;
   margin-top: 2rem;
}
.advantage-box{
   background-color: rgba(255, 2555, 255,0.1);
   padding: 2rem;
   border-radius: 10px;
   text-align: center;
}
.advantage-icon{
   font-size: 3.5rem;
   color: #e74c3c;
   margin-bottom: 1rem;
}
.advantage-box h3{
   color: white;
   margin-bottom: 0.5rem;
   font-size: 2.5rem;
}
.advantage-box p{
   color: #ecf0f1;
   font-size: 1.8rem;
}

/* Appel a l'action */

.cta{
   padding: 4rem 0;
   background-color: #977552;
   color: white;
   text-align: center;
}
.cat h2{
   color: white;
   margin-bottom: 1rem;
}
.cta p{
   font-size: 2rem;
   margin-bottom: 2rem;
}
.cta-btn{
   display: inline-block;
   background-color: white;
   color: #e74c3c;
   padding: 1rem 2.5rem;
   text-decoration: none;
   font-weight: bold;
   font-size: 2rem;
   border-radius: 50px;
   transition: all 0.3s;
}
.cta-btn:hover{
   background-color: #bc2f20;
   color: white;
   transform: scale(1.05);
}

/* Pied de page acceuil */

footer{
   background-color: #2c3e50;
   color: white;
   padding: 3rem 0 1rem 0;
}
.footer-content{
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 2rem;
   margin-bottom: rem;
   padding:30px;
}

.footer-content h3{
   color: #e74c3c;
   margin-bottom: 1rem;
   font-size: 1.5rem;
   padding: 10px;
}

.footer-content p{
   margin-bottom: 0.5rem;
   font-size: 1.rem;
   padding: 10px;
}


.footer-content a{
   color: #ffffff;
   text-decoration: none;
   margin-bottom: 0.5rem;
   font-size: 1.1rem;
   justify-content: space-between;
   padding: 10;

}

.footer-content a:hover{
   text-decoration: underline;   
}
.reseaux{
   font-size: 2.5rem;
   gap: 1rem;
   margin-left: 25px;
}
.contact{
   font-size: 1.5rem;
   margin-bottom: 1rem;
   margin-left: 25px;
}
.footer-bottom{
   text-align: center;
   font-size: 1.2rem;
   color: #bbb;
   border-top: 1px solid #444;
   padding-top: 1rem;
}



      /* section pourquoi nous choisir */
      
   .why-us {
      color: #ffffff;
      padding: 3rem 2rem;
      background-color: #2c3e50;
      border-radius: 10px;
   }
   .why-us h2 {
     text-align: center;
       margin-bottom: 2rem;
       color: #ffffff;
   }
   .advantages {
      text-align: center;
   }
   .advantages h3 {
      margin-bottom: 0.5rem;
      color: #C0392B;
   }



   /* page catalogue */
   /*section de filtre */
   main h2{
      text-align: center;
      margin-bottom: 2rem;
      font-size: 75px;
      font-weight: bold;
      font-family: Georgia, 'Times New Roman', Times, serif;
      color:#f0f4f3
   }
   .catalogue-header {
      margin-bottom: 4rem;
      background-image: url('images/arriere\ plan.jpg');
      padding: 100px;
   }

   .filter {
      text-align: center;
      margin-bottom: 3rem;
      padding: 2rem;
      background-color: #e8eaeb;
      border-radius: 10px;

   }
  
   .filter-buttons {
      display:flex;
      justify-content: center;
      gap: 2rem;
      flex-wrap: wrap;
      margin: 30px;
      padding: 30px;
      font-size: 1.5rem;
     
   }
.filter-buttons li {
      list-style: none;
      
   }
   .filter-buttons a{
       text-decoration: none;
   }

   .filter-btn {
      background-color: #ebebeb;
      color: #2c3e50;
      border: none;
      padding: 0.7rem 1.5rem;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.3s;
      font-weight: bold;
   }
   .filter-btn:hover {
      background-color: #2c3e50;
      color: #ffffff;
   }
   .filter-btn.active {
      background-color: #C0392B;
      color: #ffffff;
      border-color: #ffffff;
   }
   /*titre des categories des produits*/
   .titre-categories {
      color: #0c0b0b;
      font-size: 4rem;
      font-weight: bold;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      margin-bottom: 5rem;
   }


   /* grille des produits */
   
   .product-card {
      background-color: #ffffff;
      border:2px solid #ddd;
      border-radius: 10px;
      overflow: hidden;
      transition: transform 0.3s, box-shadow 0.3s;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
      transition: all  0.3s ease;
      border: 2px solid #ddd;
      flex-direction: column;
      height: 100%;
   }
   .product-grid {
     display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      padding: 0 2rem 2rem 2rem;
      width: 100%;
   }

   .product-card:hover {
         transform: translateY(-10px);
         box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
         border-color: #C0392B;
      }
      .product-card h3 {
         margin-bottom: 1rem;
         color: #2c0b07;
         font-size: 1.3rem;
      }
   /* image du produit */
   .product-image {
      background-color: #ecf0f1;
      align-items: center;
      justify-content: center;
      display: flex;
      border-bottom: 2px solid #ddd;
      width: 100%;
      height: 250px;
      overflow: hidden;
   }
   .product-info {
      padding: 1.5rem;
      
   }
   .no-image img {
      max-width: 75%;
      height: auto;
      object-fit: contain;
      transition: transform 0.3s ease;
      padding: 1rem;
      transition: transform 0.3s ;
   }
   .no-image img:hover {
      transform: scale(1.1);
   }
   .product-info h3 {
      margin-bottom: 0.5rem;
      color: #2c3e50;
      font-weight: bold;
      min-height: 50px;
      margin: 1rem 1rem 0.5rem 1rem;
   }
   .product-info .description {
      color: #666;
      font-size: 1.2rem;
      margin: 1rem;
      line-height: 1.6;
      margin: 0 1rem 0.5rem 1rem;
      flex-grow: 1;
   }
   .product-info .price {
      color: #bf2e1e;
      font-size: 1.4rem;
      font-weight: bold;
      margin: 1rem;
      text-align: center;
   }
   .category{
      margin-bottom: 1rem;
      font-size: 1rem;
      color: #888;
      text-transform: uppercase;
      margin: 0 1rem 0.5rem 1rem;
   }
   .btn-add {
      background-color: #a5a5a5;
      color: #ffffff;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.3s;
      font-size: 0.95;
      font-size: 1.5rem;
   }
   .btn-add:hover {
      background-color: #C0392B;
      translate: (-2px);
      box-shadow: 0 4px 15px rgba(231, 76, 60, 0.3);
   }
   
/* page contact */
.body-contact{
   padding: 4rem 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-image: url(images/affiche.jpg);
   background-size:auto;
}
.connexion{
   background-color:  rgb(0, 0, 0);
   padding: 30px;
   border-radius: 20px;

}

section h1{
   text-align: center;
   font-size: 4rem;
   margin-bottom: 20px;

}
.login{
   width: 100%;
   position: relative;
   margin-bottom: 25PX;

}
.login input{
   width: 100%;
   border-radius: 25px;
   border: #fafafa;
   font-size: 4rem;
   padding: 15px;
   outline: none;
   border:2px solid rgba(255, 255, 0, 0.2);
   padding-right: 40px;
   background-color: transparent;
   color: #fff;
}
.login input::placeholder{
   color: #a5a5a5;
   font-size: 1.5rem;
}
.login i{
   position: absolute;
   transform: translateY(-50);
   right: 20px;
   top: 50%;
   color: #fff;
}
.souvenir{
   display:flex;
   justify-content: space-between;
   font-size: 1.5rem;
   align-items: center ;
   color: #fff;
   margin-bottom: 25px;
}
.souvenir a, .enregistrer a{
   text-decoration: none;
   color: #fff;
   transition: 0.5s;
   font-weight: bold;

}
.souvenir a:hover, .enregistrer a{
   text-decoration: underline;
}
.souvenir label{
   font-weight: bold;
}
.logo-btn{
   width: 100%;
   padding: 20px;
   font-size: 2rem;
   font-weight: bold;
   color: #0c0b0b;;
   border-radius: 25px;
   outline: none;
   border: 0;
   cursor: pointer ;
   border: 2px solid transparent;
   transition: 0.5s

}
.logo-btn:hover{
   background-color: transparent;
   border: 2px solid rgba(91, 91, 2, 0.737);
   color: #fff;
}
.enregistrer{
   text-align: center;
   font-size: 1.5rem;
   padding-top: 15px;

}

/* pages detail-produits */

.container-prod-details{
   max-width: 1100px;
   margin:40px auto;
   padding:20px;
   font-family: 'Segoe UI', sans-serif;
   color: #0c0b0b;
}
.container li{
   list-style: none;
   display: flex;
   font-size: 2rem;
}
.fa-angle-left{
   font-size: 4rem;
   margin-bottom: 3rem;
   color: #0c0b0b;
}
.container-prod-details{
   display: flex;
   gap: 50px;
   flex-wrap: wrap;
   background-color: darkkhaki;
}
.img-prod-details{
   flex:1;
   min-width: 350px;
}
.img-prod-details img{
   width: 100%;
   border-radius: 10px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);

}
.contenu-prod-details{
   flex:1;
   min-width: 350px;
}
.prix{
   font-size: 2rem;
    color: var(--primary-color);
    font-weight: bold;
    margin: 20px 0;
}
.acquerir{
   display: flex;
   gap: 20px;
   margin: 30px 0;
   align-items: center
}
.quantite-selectionner{
   border: 1px solid #ccc;
   display: flex;
   border-radius: 5px;
   
}
.quantite-selectionner button{
   padding: 10px 15px;
   background:none;
   border:none;
   cursor: pointer;
   font-size: 3rem;
}
.quantite-selectionner input{
   width: 40px;
    text-align: center;
    border: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    font-size: 3rem;
}
.btn-add-cart{
   display: inline-block;
   background-color: rgb(24, 110, 216);
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}
.btn-add-cart:hover{
   background-color: #c0392b;
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 6px 25px rgba(231, 76, 45)
}
.courte-description p{
   font-size: 2rem;
   font-weight: lighter;
}
.plus-description h3{
   border-bottom: 2px solid var(--primary-color);
    display: inline-block;
    padding-bottom: 5px;
    font-size: 2rem;
    margin: 5px 5px;
    margin-top: 30px;
}
.ref-prod{
   font-size: 1.5rem;
}
.plus-description ul {
   list-style: none;
    padding: 0;
}
.plus-description li {
   padding: 8px 0;
   border-bottom: 1px solid #eee;
   font-size: 2rem;
}